@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
}

.container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
}

.topBar {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  height: auto;
  max-width: 800px;
  width: 100%;
}

.btnTopbar {
  margin-right: 1rem;
}

.btnTopbar .crete-user-btn {
  padding: 0.6rem 1.2rem;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  background: seagreen;
}

.searchBox input {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  outline: none;
  box-sizing: border-box;
}

table {
  max-width: 800px;
  width: 100%;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #eee;
}

td, th {
  border: 1px solid #ddd;
  padding: 0.8rem 2rem;
  text-align: center;
}

th {
  color: #fff;
  background: seagreen;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
}

.form-container .title {
  margin-top: 4rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.form-container .title h1::first-letter {
  text-transform: uppercase;
}

.form-container form {
  width: 420px;
  height: auto;
  padding: 0.4rem;
}

.form-container form div {
  height: 45px;
  width: 100%;
  margin-top: 1rem;
}

.form-container form div input {
  height: 100%;
  width: 100%;
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
  color: #111;
  border: 1px solid #bbb;
  outline: none;
  box-sizing: border-box;
}

.button-field button {
  padding: 0.6rem 1.4rem;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  outline: none;
  background: seagreen;
}

.updateBtn {
  margin: 0 0.1rem;
  padding: 0 0.4rem;
  text-decoration: none;
}

.deleteBtn {
  margin: 0 0.2rem;
  padding: 0 0.4rem;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}